<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Chat Bot</title>
    <script src="{{url_for('static', filename='js/ChatBot.js')}}"></script>
</head>

<body>
    <div class="d-xl-flex flex-column justify-content-xl-center align-items-xl-center" style="margin: 44px;">
        <p class="text-center" id="chatbot_dialog" style="width: 50vw;height: 50vh;background-color:DodgerBlue;color: rgb(255,255,255);margin: 0px;padding: 25px;">{{DIALOG}}</p>
        <div id="response_panel" style="padding: 25px;">{{OPTION_BAR | safe}}</div>
    </div>
</body>

</html>